[minio-local]
type = s3
provider = Minio
endpoint = http://minio:9000
access_key_id = {{ minio_root_user }}
secret_access_key = {{ minio_root_password }}

[minio-backup]
type = s3
provider = Other
endpoint = {{ backup_s3_endpoint }}
access_key_id = {{ backup_s3_access_key }}
secret_access_key = {{ backup_s3_secret_key }}
